@import "fonst.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MR";
    font-weight: 400;
}


.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
}

.btn{
    background-color: #dd4400;
    max-width: 200px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 11px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.menu{
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    list-style: none;
    display: flex;
}

.menu__list-link{
    text-decoration: none;
    color: #4e4e4e;
    margin-left: 32px;
    font-size: 16px;
    transition: color 0.5s ease-in-out;
}

.menu__list-link:hover{
    color: #dd4400;
}

.menu__logo{
    text-decoration: none;
    color: #dd4400;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.menu__logo img{
    margin-right: 22px;
}

nav{
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0 3px 7px rgba(59, 32, 12, 35%);
    position: relative;
    z-index: 1;
}

.header-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.products{
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 103px;
}


.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 255px;
    width: 100%;
    height: 350px;
    box-shadow:  0 0 15px #eadcd6;
    padding: 0 21px 26px 34px;
}

.product__title{
    font-size: 18px;
    line-height: 27px;
    font-family: "MB";
    color: #dd4400;
    max-width: 167px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product__img{
    height: 144px;
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.product__img::before{
    content: "";
    max-width: 200px;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #fff,  #dd4400,  #fff);
    display: inline-block;
}

.product__img::after{
    content: "";
    display: block;
}

.content{
    justify-content: space-between;
}

.content__info{
    max-width: 730px;
    width: 100%;
}


.sidebar{
    max-width: 255px;
    width: 100%;
}